*{box-sizing: border-box;}

body{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
letter-spacing: .8px;
color: rgb(59, 59, 59);
}

h1, h2{
  color: rgb(36, 36, 36);
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 1000px;
}

.worldContainer{}

.countryContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin-top: 15px;
}
.usaContainer{}

.canadaContainer{}
.red{color: rgb(195, 47, 47);}
.green{color: rgb(0, 199, 0);}
.yellow{color: rgb(188, 218, 19);}

@media(max-width: 1000px){
  .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .worldContainer{
    padding-bottom: 15px;
    border-bottom: 1px dotted #888;
    width: 100%;
  }
  .worldContainer h3{
    margin: 7px;
  }

  .worldContainer time{
    padding-bottom: 5px;
  }
  .usaContainer{
    padding-bottom: 15px;
    border-bottom: 1px dotted #888;
  }
  .usaContainer h2{
    margin-bottom: 10px;
  }
  .usaContainer h3{
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .countryContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .chartjs-render-monitor{
    display: none;
  }
  .canadaContainer{
    margin-bottom: 10px;
  }
  .canadaContainer h2{
    margin-bottom: 10px;
  }
  .canadaContainer h3{
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

@media(max-width: 800px){
  .countryContainer{
    margin-top: 10px;
  }
}
